* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

:root {
  --winning-blocks: #C3FF99;
}

body {
  background-image: url("/assets/bg-body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-weight: 700;
}

h1 {
  text-align: center;
  color: #ee6983;
  font-size: 7rem;
  text-transform: uppercase;
  padding-top: 1.5rem;
}

span {
  color: #C3FF99;
}

#status {
  padding-bottom: 1rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3 1fr);
  width: 50vh;
  height: 50vh;
  margin: auto;
  grid-gap: 5px;
  margin-top: 2rem;
  justify-content: center;
}

.box {
  height: 10rem;
  width: 10rem;
  background-color: #9FC9F3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee6983;
}


.score {
  color: #ee6983;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.reset {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.reset-button {
  color: #C3FF99;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #ee6983;
  cursor: pointer;
  margin-top: 3rem;
}

.reset-button:hover {
  background-color: #9FC9F3;
  color: #ee6983;
}

.previous,
.next {
  color: #C3FF99;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background-color: #ee6983;
  cursor: pointer;
  margin-top: 3rem;
  visibility: hidden;
  opacity: 0;
}

.previous,
.next {
  visibility: visible;
  opacity: 1;
  transition: 800ms 1s;
}

.x-score {
  background-color: #C3FF99;
  border-radius: 10px;
  padding: 1rem 1.5rem;
}

.o-score {
  background-color: #C3FF99;
  border-radius: 10px;
  padding: 1rem 1.5rem;
}